h1{
    text-align: center;
    color: #2f6fd5;
}
h3{
    text-align: center;
}
body{
    margin: 0px;
}
.line{
    border-color: #2f6fd5;
    border-width: 15px;
    margin-top: 0px;
}
.card{
    margin: 0px;
    border: 0px;
}
.card-img-top{
    height: 240px;
    width: 350px;
}

.container{
    width: 1280px;
    margin: auto;
}

.input-class{
    width: 30%;
}
table{
    width: 100%;
    justify-content: left;
}
td{
    width: 10%;
}
.bigger-font{
    font-size: larger;
    font-weight: bold;
}
.knop{
    position: relative;
    float: right;
}
.form-control{
    font-size: 24px;
    border-width: 1px;
    margin-bottom: 20px;
}
.custom-select{
    font-size: 24px;
}
.margin-button{
    margin:20px 0 0 15px;
    float: right;
}
.admin-login{
    float:right;
    margin: 20px 5px 0 0;
    position: absolute;
    right: 0.5%;
    top: 0.5%;
}

@media (max-width: 992px){
    .form-control{
        font-size: 40px;
        margin-bottom: 50px;
    } 
    label{
        font-size: 30px;
    }
    button{
        height: 100px;
        font-size: 30px !important;
    }
    select{
        font-size: 30px;
    }
    .custom-select{
        font-size: 42px;
    }
    .button-mobile-size{
        font-size: 30px !important;
    }
    .card-img-top{
        margin: auto;
    }
    .card-body{
        margin: auto;
    }
    .admin-login{
        height: 50px;
        font-size: 24px !important;
    }
    td{
        font-size: 24px !important;
    }
    #rivor-logo{
        width: 35% !important;
    }
    .navi-knop{
        float: right;
    }
}
